.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */

.app-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

.user-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions button {
  margin-left: 10px;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Estilos para UserForm */
.user-form {
  margin-bottom: 20px;
}

.user-form h2 {
  margin-bottom: 10px;
}

.user-form form {
  display: flex;
  flex-direction: column;
}

.user-form input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.user-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.user-form button:hover {
  background-color: #0056b3;
}

/* UserList.css */

.user-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
  background-color: #007bff;
  color: #fff;
}

th:nth-child(4),
td:nth-child(4) {
  text-align: center;
}

.user-actions {
  justify-content: center;
  gap: 10px;
}

.user-edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}

.user-create-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.user-edit-button:hover,
.user-create-button button:hover {
  background-color: #0056b3;
}

.user-delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}

.user-delete-button:hover {
  background-color: #cc0000;
}

.user-list p {
  margin-top: 10px;
}